<h1>About Me!</h1>

<p>My name is Yolanda and I'm building a Pinterested Clone Website</p>

    <%=link_to 'About Me', home_about_path, class: 'btn btn-info'%>
    <%=link_to 'Home', root_path, class: 'btn btn-success'%>