<div class="jumbotron" style="background-color: #ADD8E6" >
     <div style="text-align: center">
     
     <h1>Welcome To Yolanda's Pinterested Website!</h1>
     
     <p>This Will Be The Best App Ever.  Please stay tuned as my new app develops.  It will be <strong>mind</strong>blowing!</p>
     

     <%=link_to 'Log in', new_user_session_path, class: 'btn btn-info'%>
     <%=link_to 'Join', new_user_registration_path, class: 'btn btn-success'%>
     </div>    
</div>

