<!DOCTYPE html>
<html>
<head>
  <title>Yolanda's Pinterested Website</title>
  
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'home/header' %>
<div class="container">
   <% flash.each do |name, msg| %>
    <%= content_tag( :div, msg, class: "alert alert-success") %>
  <% end %>
<%= yield %>
</div>
</body>
</html>